<div class="card p-5">
    <form #myForm="ngForm">
        <div class="mb-3 row">
            <label class="col-sm-1 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input #emailInput class="form-control" type="text" name="emailInput" required>
            </div>
        </div>
        
        <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" (click)="cambiarContrasena(emailInput.value)">
            <i class="fa-solid fa-circle-plus me-1"></i> Restablecer contraseña
        </button>
        <br> <br>
        <label class="col-sm-1 col-form-label">Token:</label>
        <div class="col-sm-10">
            <input #tokenInput class="form-control" type="text" name="tokenInput" required>
        </div><br>
        <label class="col-sm-2 col-form-label">Nuevo password:</label>
        <div class="col-sm-10">
            <input #passwordInput class="form-control" type="password" name="passwordInput" required>
        </div>
        <br>

        <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" (click)="cambiarContrasenaNew(tokenInput.value, passwordInput.value)">
            <i class="fa-solid fa-circle-plus me-1"></i> Cambiar contraseña
        </button>

    </form>
</div>
